body{
    background-color: whitesmoke;
}
.background{
    background-image: url("../assets/img/cacao_beans_with_spoon.webp");
    background-size: cover;       /* makes it fill correctly */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; 
    height: 300px;                /* adjust the banner height */
    display: flex;
    align-items: center;          /* vertical centering */
    justify-content: center;      /* horizontal centering */
    color: white;                 /* text on top of image */
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.background::before {
    content: "";
    position: absolute;
    inset: 0; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* adjust 0.45 brighter/darker */
    z-index: 0;
}
.link-content a {
    color: #f5f5f5;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.link-content a:hover {
    text-decoration: underline;
    position: relative;
}

.title {
    color: #f5f5f5;
    color: white;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 100px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}
.undertitle {
    color: #f5f5f5;
    font-size: 50px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}
.chocolate {
    color: #f5f5f5;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 70px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

p{
    text-align: center;
    font-size: 17px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 25px;
}

.content{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 1px;
    box-shadow: black;
    background-color: bisque;
}
.blink{
   
    font-weight: 12px;
    text-decoration: none;
}
.blink a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold ;
}

.blink a:visited{
    color: black;
    font-weight: 12px;    
    text-decoration: none;
}

.bgsnake{
    background-image: url("../assets/img/snake.webp");
    background-size: cover;       /* makes it fill correctly */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; 
    height: 300px;                /* adjust the banner height */
    display: flex;
    flex-direction: column;
    align-items: center;          /* vertical centering */
    justify-content: center;      /* horizontal centering */
    color: white;                 /* text on top of image */
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.bgsnake::before {
    content: "";
    position: absolute;
    inset: 0; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* adjust 0.45 brighter/darker */
    z-index: 0;
}
